<h1>Welcome</h1>
<h3>How to play</h3>
<p>Rock–paper–scissors is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand.</p>

<span><img src="./img/Rock-paper-scissors.svg.png" alt="A chart showing how the three game elements interact"></span>

<div class="rounds">
  <ul>
    <li><a href="/round_one/rock/scissors">Rock vs Scissors</a></li>
    <li><a href="/round_two/paper/rock">Paper vs Rock</a></li>
    <li><a href="/round_three/scissors/paper">Scissors vs Paper</a></li>
  </ul>
</div>
