<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Rock, Paper & Scissors</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
  <nav class="darker">
    <ul>
      <li><a href="/">home</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
